version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db_seirotan
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./.postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
